.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
Bolivia_unpaid_labor/www/*.ai
Bolivia_unpaid_labor/rsconnect
Bolivia_unpaid_labor/graveyard.R
Bolivia_unpaid_labor/draft.R
Bolivia_unpaid_labor/draft2.R
Bolivia_unpaid_labor/data/EH2018_Personas2.xlsx
other
data
Bolivia\ Life\ of\ Labor\ shiny\ app\ use\ cases.pptx
Bolivia\ life\ of\ labor\ blog\ draft\ v.0.docx
Bolivia\ life\ of\ labor\ blog\ draft\ v.1.docx
Bolivia\ life\ of\ labor\ blog\ draft\ v.2.docx
Bolivia\ life\ of\ labor\ blog\ draft\ v.2.1.docx
literature