.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
Bolivia_unpaid_labor/www/*.ai
Bolivia_unpaid_labor/rsconnect
Bolivia_unpaid_labor/graveyard.R
Bolivia_unpaid_labor/data/EH2018_Personas2.xlsx
Bolivia_unpaid_labor/data/personas.csv
other
data
Bolivia\ Life\ of\ Labor\ shiny\ app\ use\ cases.pptx
Bolivia\ life\ of\ labor\ blog\ draft\ v.0.docx
Bolivia\ life\ of\ labor\ blog\ draft\ v.1.docx
Bolivia\ life\ of\ labor\ blog\ draft\ v.2.docx
literature