.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
Bolivia_unpaid_labor/www/*.ai
Bolivia_unpaid_labor/rsconnect
Bolivia_unpaid_labor/graveyard.R
Bolivia_unpaid_labor/draft.R
Bolivia_unpaid_labor/draft2.R

other

Bolivia\ Life\ of\ Labor\ shiny\ app\ use\ cases.pptx
Bolivia\ life\ of\ labor\ blog\ draft\ *.docx
literature
Bolivia_unpaid_labor/www/GFDRR_Primary Logo_BW-Shade-nobg.png
Bolivia_unpaid_labor/www/WB-WBG-horizontal-black.png